@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;font-family:'Lato', sans-serif;}
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
body {
    font-family: 'Open Sans', Arial, sans-serif;
    color: #000;
    background:#f1f1f1;
}
a {
	color: #f0f0f0;
	text-decoration: none;
	outline: none;
}
a:hover {color: #000;}

.navbar{height:90px;background:#445464;}
.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d;
    height: 90px;
    line-height: 90px;
    padding: 0 8px;

}
.navbar-inverse .navbar-nav > li.idioma, .navbar-inverse .navbar-nav > li.redesBtn,  .navbar-inverse .navbar-nav > li#kchink-menu{padding:0;}
.navbar-brand {
    height: 65px;
    padding: 0;
}
.navbar-brand > img {
    margin-top: 12px;
}
header{position:relative;top:0px;left:0;width:100%;height:auto;z-index:999;}
/* header img#mainLogo{position:relative;max-width:420px;top:15px;left:calc(50% - 210px);} */
section.container-fluid{padding:0;clear:both;display:block;/* overflow:hidden; */}
.mainImage{}



.ultraLight{opacity:0.161803398874988}
.divider{position:relative;background:#445464;color:white;height:90px;clear:both;display:block;}
.divider h2{text-align:center;padding:0;line-height:90px;margin:0 auto;max-width:1200px;}
.ghostButtonHome {
    background: #83c070;
    border: 1px solid #fff;
    display: block;
    width: 100%;
    /* max-width: 300px; */
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff !important;
    font-size: 24px;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    margin:20px auto;
}
.ghostButtonHome:hover {
    background: rgba(27, 68, 137, 0.9);
    color: #fff !important;
}
li a.circleSocialBtn{
	border-radius:50%;
	border:3px solid #fff;
	width:20px;
	height:20px;
	display:block;
	font-size:20px;
	position:relative;
}
li.socialBtn{
	margin:5px;
}
a.circleSocialBtn i{
	position:absolute;
	top:5px;
	left:7px;
}
a.circleSocialBtn i.fa-facebook{left:9px;}
a.circleSocialBtn#facebook:hover{background:#3b5998;border-color:#3b5998;}
a.circleSocialBtn#facebook:hover i{color:#fff;}


#empresa{background-color:#5a9ab6;background-image:url("../images/empresa.jpg");background-size:contain;background-repeat:no-repeat;min-height:600px;}
#empresa .contenido{text-align:center;font-size:1.680em;max-width:60%;margin:90px auto; color:#fff;}
#empresa .contenido p{margin:20px auto;}

#servicios{}
#servicios .col-md-6{min-height:600px;padding-top:60px;overflow:hidden;}
#serv1{background-color:#13378d;}
#serv2{background-color:#00baff;}
#serv3{background-color:#ffc000;}
#serv4{background-color:#e04500;}
#serv5{background-color:#c00000;}
#serv6{background-color:#fff;}
#serv7{background-color:#563b1f;}
#serv8{background-color:#9f9f9f;}
#serv9{background-color:#fff;}
#serv10{background-color:#00baff;}
#serv11{background-color:#2f4c87;}
#serv12{background-color:#64ad00;}

.imgServicio{position:absolute;}
.img-left{right:50%;

}
.img-right{left:50%;}
.halfContainer{
	position:relative;
	z-index:999;
	max-width:380px;
	color:#fff;
	background:rgba(0,0,0,0.5);
	padding:15px 30px;
	border-radius:5px;
	
}
.servIcon{
	width:102px;
	height:102px;
	display:block;
	position:relative;
	margin:10px auto;
}


/*

=========================================================  QUERIES

*/

@media screen and (min-width: 1280px) {
}
@media screen and (max-width: 768px) {
}

